body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #fb009f, #ee2727, #8e5de6, #a5dcf0);
}

.container {
    text-align: center;
}

text {
    color: #fff;
    letter-spacing: 5px;
    margin: 10px ;
}

.page {
    width: 350px;
    background: #fff;
    border-radius: 5px;
    padding-bottom: 15px;
}

.title {
    padding: 30px 0;
    text-transform: capitalize;
    font-size: 25px;
    font-family:'Pacifico', cursive;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

form {
    width: 75%;
}
  