* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #fb009f, #ee6868, #8e5de6, #a5dcf0);
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #eb8ceb; 
    
}
  
.navbar img {
    height: 45px; 
    width: auto; 
}

.navbar-brand {
    font-family: Cookie;
    font-size: 35px;
    padding-left: 20px;
}

button {
    background: linear-gradient(#ee6868, #eb8ceb);
}

.nav-link-inicio,
.nav-link-registro {
    padding: 5px 15px; 
    margin-right: 10px;
    font-size: 16px; 
    background-color:  #fb009f; 
    color: rgb(15, 15, 15); 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
    text-decoration: none;  
}

.nav-link-inicio:hover,
.nav-link-registro:hover {
    background-color: #fb009f8f;
}

.nav-link-logged-in {
    padding: 5px 15px; 
    margin-right: 10px;
    font-size: 16px; 
    background-color:  #a13cff; 
    color: rgb(15, 15, 15); 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
    text-decoration: none;  
}

.nav-link-logged-in:hover {
    background-color: #bb56ff;
}